<div class="sw-cms-block-deskly-faq">
    <slot name="content">
        <div class="sw-cms-block-deskly-faq__default">
            {% block sw_cms_block_deskly_faq_content %}
            {% endblock %}
        </div>
    </slot>
</div>
